.lead-text {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -5px;
    line-height: 1;
}
.m-heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 9px;
    line-height: 0.8;
}
.to-do {
    position: absolute;
    padding: 1rem;
    top: 3rem;
    right: 1rem;
    background-color: #fff;
    border-radius: 3px;
    display: none;
    width: 70%;
}
.settings {
    position: absolute;
    padding: 0rem;
    bottom: 4rem;
    left: 1.3rem;
    background-color: #fff;
    border-radius: 3px;
    display: none;
    width: 70%;
}
